h1 {
    font-size: 15px;
    text-align: center;
}

nav {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
}

ul,
li {
    display: inline;
    margin: 0;
    padding: 0;

}

ul {
    border: 1px solid aquamarine;
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;
}


@media (min-width: 100px) {
    h1 {
        color: rgb(255, 0, 128);
    }
}

@media (min-width: 500px) and (max-width:2000px) {
    h1 {
        color: orange;
        font-size: 5px;
        flex-direction: column;
    }
}

@media (orientation: landscape) {
    body {
        background-color: aquamarine;
    }
}